[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
openlibrary-client = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
gunicorn = "*"
python-dotenv = "*"
requests = "*"
authlib = "*"
six = "*"

[dev-packages]

[requires]
python_version = "3.9"
