{% extends "base.html" %}

{% from "bookCoverMacro.html" import bookCover with context %}
{% from "searchMacro.html" import search with context %}
{% from "bookshelfMacro.html" import bookshelf with context %}

{% block content %}
    <div class="prof-header" style="overflow: auto">

        <h1 style="display: flex; justify-content: center;align-items: center;"> User profile for: {{ user.username }} <img class="profile-picture" src="{{ user.picture }}" alt="book cover">  </h1>
    </div>

    <br>

    <h2 style="text-align: center">Recent Bookshelves</h2>

    <div class="pure-g">
        {% for shelf in bookshelves %}
            <div class="pure-u-1 pure-u-lg-1-2">
              {{ bookshelf(shelf) }}
            </div>
        {% endfor %}
    </div>

{% endblock %}